.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.image-element {
    height: 100px;
    width: 100px;
}

.page-count-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.page-count {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.prev-next-button{
    height: 60px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}