.selectable-grid-container {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(var(--rows), 50px);
    gap: 5px;
    user-select: none;
}

.selectable-grid-container .grid {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
}

.selected {
    background-color: aqua;
}